numpy
pandas
geopandas
rasterio
requests
shapely
owslib
opencv-python
Pillow
matplotlib
plotly
albumentations
scikit-learn
tqdm
natsort
PySAM
pvlib
torch==2.1.0+cu121
torchvision==0.16.1+cu121
torchaudio==2.1.0+cu121
segmentation-models-pytorch==0.5.0
timm